{
  "prettier.printWidth": 80,
  "prettier.tabWidth": 2,
  "prettier.semi": true,
  "prettier.singleQuote": true,
  "prettier.quoteProps": "consistent",
  "prettier.trailingComma": "es5",
  "prettier.arrowParens": "avoid",
  "prettier.bracketSpacing": true,
  "prettier.endOfLine": "auto",
  "prettier.jsxBracketSameLine": true,
  "prettier.jsxSingleQuote": true
}
