<h2>Dodawanie nowego klienta</h2>

<form method="POST" action="/client">
  <p>
    <label for="email">Email:</label>
    <br />
    <input type="email" name="email" id="email" />
  </p>
  <p>
    <label for="name">Imię:</label>
    <br />
    <input type="text" name="name" id="name" />
  </p>
  <p>
    <label for="date">Data następnego kontaktu:</label>
    <br />
    <input type="date" name="nextContactAt" id="date" />
  </p>
  <p>
    <label for="notes">Notatka:</label>
    <br />
    <textarea name="notes" id="notes"></textarea>
  </p>
  <p>
    <button type="submit">Zapisz</button>
  </p>
</form>