<h2>Add new Task</h2>

<form method="POST" action="/todo" autocomplete="off">
  <p>
    <label for="title">Task</label>
    <br />
    <input type="text" name="title" id="title" />
  </p>
  <p>
    <button type="submit">Save</button>
  </p>
</form>